{% extends 'base.html' %}

{% block content %}
    <h3>Введите имя пользователя</h3>
    <form method="POST">
    <input type="text" name="username" required>
    <button type="submit">Сохранить</button>
        </form>
    {% with messages = get_flashed_messages() %}
    {% if messages%}

    <div class="flashes">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


<div class="element">
    <button class="btn-primary" onclick="rollDice()">Ролл кубика</button>
    <div id="result">
        <span></span>
    </div>
</div>
<script>
        function rollDice() {
            fetch('/roll')
                .then(response => response.text())
                .then(result => {
                    document.getElementById('result').innerHTML = '<h3>Результат: <span class="badge bg-primary">' + result + '</span></h3>';
                });
        }
    </script>
{% endblock %}
